body {
    margin: 0;
    padding: 0;
    background-color: #000d;
    font-family: 'Qahiri', Helvetica, sans-serif;
    font-size: 12px;
}

#heading {
    margin: 8em 0;
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#heading h1 {
    font-size: 5em;
    color: yellow;
    text-align: center;
    text-shadow: -1px -1px 4px rgb(0, 0, 0);
}

#buttons {
    width: 100vw;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.button {
    display: inline-block;
}

.button button{
    width: 6em;
    height: 4em;
    font-family: 'Tourney', Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
    background: #000d;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: -0.5em -0.5em 2em #000d;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    transition: all 0.5s;
}

.button button:hover {
    transform: scale(1.01);
}

.button-clicked {
    transform: scale(1.01);
    color: yellow !important;
    box-shadow: 0 0 1em rgba(250, 250, 14, 0.1) !important;
    border-color: #fffa !important;
}

.control {
    text-align: center;
    color: #fff5;
    font-family: monospace, Courier;
}

#scores {
    width: 100vw;
    height: 16em;
    max-width: 850px;
    margin: 6em auto 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 12em;
    /*border: 2px solid #fff;*/
    border-radius: 50%;
    background-color: #0005;
    box-shadow: 0 0 3em #0005;
    color: #fff;
    font-family: 'Tourney', Helvetica, sans-serif;
    font-size: 1.2em;
}

.score-div div {
    font-family: Helvetica, sans-serif;   
    font-size: 0.5em;
}

.score-div:hover {
    transform: scale(1.05);
    background-color: #0008;
    box-shadow: 0 0 3em #0009; 
}

.score-title {
    color: white;
    font-family: monospace;
    text-align: center;
    opacity: 0.5;
}

.winner-div {
    width: 90%;
    height: auto;
    margin: 2em auto;
    text-align: center;
    font-family: 'Tourney', Helvetica, sans-serif;
    font-size: 2em;
    color: yellow;
    font-weight: bold;
    border-radius: 4px;
    text-shadow: 0 0 1em #0004;
}

.reset-button {
    border: 1px solid #fff3;
    width: 10em;
    height: 2em;
    border-radius: 4px;
    color: yellow;
    font-weight: bold;
    background-color: #0001;
    font-family: monospace, Helvetica, sans-serif;
}

.reset-button:hover {
    border: 2px solid rgba(255, 255, 0, 0.568);
    color: #fff;
    transform: scale(1.05);
}
